{{extend 'layout.html'}}

{{=form.custom.begin}}
<div id='comprasteste' class="span12">
	<div class="row-fluid">
		<label><strong>DADOS GERAIS</strong></label>
		<div class="span12">
			<div class="row-fluid">
				<div class="span12">
					<div class="span3 tamanho_fixo_1">
						<label>Fornecedor</label>
						{{=form.custom.widget.fornecedor_id}}
					</div>
				</div>				
			</div>
			<div class="row-fluid">
				<div class="span12">
				<div class="span3 tamanho_fixo_1">
					<label>Numero da nota</label>
					{{=form.custom.widget.numero}}
				</div>
				<div class="span3 tamanho_fixo_1">
					<label>CFOP</label>
					{{=form.custom.widget.natureza_operacao}}
				</div>
				<div class="span2 tamanho_fixo_2">
					<label>Data de emissao</label>
					{{=form.custom.widget.data_emissao}}
				</div>
				<div class="span2 tamanho_fixo_2">
					<label>Data de chegada</label>
					{{=form.custom.widget.data_chegada}}
				</div>
					</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<label><strong>FATURA</strong></label>
		<div class="span12">
			<div class="span3 tamanho_fixo_1">
				<label>Condicao de pagamento</label>
				{{=form.custom.widget.condicao_pagamento_id}}
			</div>			
		</div>
	</div>
	<div class="row-fluid">
		<label><strong>CALCULO DO IMPOSTO</strong></label>
		<div class="span12">
					<div class="row-fluid">				
						<div class="span12">
							<div class="span3 tamanho_fixo_1">
							<label>Base de calculo do ICMS</label>
							{{=form.custom.widget.base_calculo_icms}}
						</div>
						<div class="span3 tamanho_fixo_1">
							<label>Valor do ICMS</label>
							{{=form.custom.widget.valor_icms}}
						</div>
						<div class="span2 tamanho_fixo_1">
							<label>Valor total dos produtos</label>
							{{=form.custom.widget.total}}
						</div>
					</div>
					<div class="row-fluid">				
						<div class="span12">
							<div class="span3 tamanho_fixo_1">
							<label>Valor do frete</label>
							{{=form.custom.widget.frete}}
						</div>
						<div class="span3 tamanho_fixo_1">
							<label>Desconto</label>
							{{=form.custom.widget.desconto}}
						</div>
						<div class="span2 tamanho_fixo_2">
							<label>Valor de outras despesas</label>
							{{=form.custom.widget.outras}}
						</div>
						<div class="span2 tamanho_fixo_2">
							<label>Valor do IPI</label>
							{{=form.custom.widget.valor_ipi}}
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<label><strong>DADOS DO PRODUTO</strong></label>
		<div class="span12">
			<div class="row-fluid">
				<div class="span12 chORY">
					<div class="tamanho_fixo_3">
						<label for="">COD. PROD</label>
						<input type="text" class="integer" name="cod_prod" />
					</div>
					<div class="tamanho_fixo_3">
						<label for="">DESCRICAO</label>
						<input type="text" class="string" name="descricao" />
					</div>
					<div class="tamanho_fixo_3">
						<label for="">UNID.</label>
						<input type="text" class="integer" name="unid" />
					</div>
					<div class="tamanho_fixo_3">
						<label for="">QUANT.</label>
						<input type="text" class="integer" name="quant" />
					</div>
					<div class="tamanho_fixo_3">
						<label for="">V. UNITÁRIO</label>
						<input type="text" class="integer" name="v_unitario" />
					</div>
					<div class="tamanho_fixo_3">
						<label for="">V. TOTAL</label>
						<input type="text" class="integer" name="v_total" />
					</div>
					<div class="tamanho_fixo_3">
						<label for="">ALIQ. ICMS</label>
						<input type="text" class="integer" name="aliq_icms" />
					</div>
					<div class="tamanho_fixo_3">
						<label for="">&nbsp;</label>
						<input type="button" value="adicionar" id="adicionar" />
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="web2py_table">
					<div class="web2py_htmltable" style="width:100%;overflow-x:auto;-ms-overflow-x:scroll">
						<table id="itens">
							<thead>
								<tr>
									<th>COD. PROD</th>
									<th>DESCRICAO</th>
									<th>UNID.</th>
									<th>QUANT.</th>
									<th>V. UNITÁRIO</th>
									<th>V. TOTAL</th>
									<th>ALIQ. ICMS</th>
									<th>excluir</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>
				</div>		
			</div>
		</div>
	</div>
<input type="submit" value="Confirmar nota" id="confirmar">
{{=form.custom.end}}
<script type="text/javascript">
	$(document).ready(function() {
		var json = [];
		$("#adicionar").click(function() {
			var tmpJson = {"id": $("input[name=cod_prod]").val(), "descricao": $("input[name=descricao]").val(), "unidade": $("input[name=unid]").val(), "quantidade": $("input[name=quant]").val(), "valor_unitario": $("input[name=v_unitario]").val(), "valor_total": $("input[name=v_total]").val(), "aliquota": $("input[name=aliq_icms]").val()};
			var adiciona = true;
			for(i = 0; i < json.length; i++) {
				if(json[i].id == $("input[name=cod_prod]").val()) {
					adiciona = false;
					break;
				}
			}
			if(adiciona) {
				json.push(tmpJson);
				$("#itens tbody").append("<tr>" + "<th>"+$("input[name=cod_prod]").val()+"</th>" + "<th>"+$("input[name=descricao]").val()+"</th>" + "<th>"+$("input[name=unid]").val()+"</th>" + "<th>"+$("input[name=quant]").val()+"</th>" + "<th>"+$("input[name=v_unitario]").val()+"</th>" + "<th>"+$("input[name=v_total]").val()+"</th>" + "<th>"+$("input[name=aliq_icms]").val()+"</th>" + "<th><a href='#' class='excluirProduto'>excluir</a></th>" + "</tr>");
			} else {
				alert("O produto já existe na lista!");
			}
			$(".chORY input[type=text]").each(function() {
				$(this).val("");
			});
			$("input[name=cod_prod]").focus();
		});
		$("#itens").on("click", "a.excluirProduto", function() {
			var tmpId = $(this).parent().parent().find("th:first").text();
			for(i = 0; i < json.length; i++) {
				if(json[i].id == tmpId) {
					json.splice(i, 1);
				}
			}
			$(this).parent().parent().remove();
		})
		$("input[type=submit]").click(function() {
			if(!$.cookie("itens", JSON.stringify(json))) {
				alert("Não foi possível submeter o formulário.");
				return false;
			}
		});
		$("input[name=cod_prod]").blur(function() {
			if($(this).val() != "") {
				var $this = $(this);
				var codigo = $("input[name=cod_prod]");
				var descricao = $("input[name=descricao]");
				var unidade = $("input[name=unid]");
				var quantidade = $("input[name=quant]");
				jQuery.ajax({
					type: "GET",
					url: "retornar_dados_produto?id="+$this.val()+"&"+Math.random(),
					beforeSend: function() {
						$this.attr("disabled", "disabled");
					},
					success: function(data) {
						data = data.split(",");
						if(data[2] == 1) {
							descricao.val(data[0]);
							unidade.val(data[1]);
							$this.removeAttr("disabled");
							quantidade.focus();
						} else {
							alert("O produto não existe.");
							$this.val("").removeAttr("disabled").focus();
						}
					}
				});
			}
		});
	});
</script>