{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}
{{block left_sidebar}}
{{=DIV(UL(
	LI('Compras / Lancamentos / Nota de entrada / Espelho', _class='nav-header'),
	LI(A('Novo lancamento',_href=URL('compras','nota_fiscal_compra'))),
	LI(A('Voltar para Compras',_href=URL('compras','listar_fornecedores'))),
_class='nav nav-list'),_class='well sidebar-nav')}}
{{end}}

{{if nota_fiscal and itens_da_nota:}}

<h1>Nota fiscal: {{=nota_fiscal.numero}}</h1>
<h2>Itens da nota</h2>
<li>
{{for i in itens_da_nota:}}
<ul>{{=i.produto_id}} - {{=i.descricao}} - {{=i.preco_unitario}} - {{=i.quantidade}} - {{=i.total_item}}</ul>
{{pass}}	
</li>
<h2>Contas a pagar</h2>
<li>
{{for l in lancamentos_da_nota:}}
<ul>{{=l.numero_titulo}} - {{l.parcela}} - {{l.valor_pago}}</ul>
{{pass}}	
</li>
<h2>Lancamentos contabil</h2>

{{pass}}
