{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}
{{block left_sidebar}}
{{=DIV(UL(
	LI('Compras / Lancamentos / Nota de entrada / Espelho', _class='nav-header'),
	LI(A('Novo lancamento',_href=URL('compras','nota_fiscal_compra'))),
	LI(A('Voltar para Compras',_href=URL('compras','listar_fornecedores'))),
_class='nav nav-list'),_class='well sidebar-nav')}}
{{end}}

{{if nota_fiscal or itens_da_nota or lancamentos_da_nota or contabeis:}}

<h3>Nota fiscal: {{=nota_fiscal.numero}}</h3>
<table class="table table-striped">
  <caption><h4>Itens da nota</h4></caption>	
  <thead>
    <tr>
      <th>#</th>
      <th>Descricao</th>
      <th>Quantidade comprada</th>
      <th>Preco unitario</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
  {{for i in itens_da_nota:}}	
    <tr>
      <td>{{=i.produto_id}} </td>
      <td>{{=i.descricao}}</td>
      <td>{{=i.quantidade}}</td>
      <td>{{=i.preco_unitario}}</td>
      <td>{{=i.total_item}} </td>
    </tr> 
  {{pass}}    
  </tbody>
</table>

<table class="table table-striped">
  <caption><h4>Titulos a pagar</h4></caption>	
  <thead>
    <tr>
      <th>Numero do titulo</th>
      <th>Numero da parcela</th>
      <th>Categoria</th>
      <th>Emissao</th>
      <th>Vencimento</th>
      <th>Valor nominal</th>
      <th>Valor da parcela</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  {{for lancamento in lancamentos_da_nota:}}	
    <tr>
      <td>{{=lancamento.numero_titulo}}</td>
      <td>{{=lancamento.parcela}}</td>
      <td>{{=lancamento.categoria}}</td>
      <td>{{=lancamento.data_emissao}}</td>
      <td>{{=lancamento.data_vencimento}}</td>
      <td>{{=lancamento.valor_nominal}}</td>
      <td>{{=lancamento.valor_parcela}}</td>
      <td>{{=lancamento.status}}</td>
    </tr> 
  {{pass}}    
  </tbody>
</table>

<table class="table table-striped">
  <caption><h4>Lancamentos contabeis</h4></caption>	
  <thead>
    <tr>
      <th>Transacao</th>
      <th>Conta credito</th>
      <th>Conta debito</th>
      <th>Data lancamento</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
  {{for contabil in contabeis:}}	
    <tr>
      <td>{{=contabil.transacao}}</td>
      <td>{{=contabil.conta_credito}}</td>
      <td>{{=contabil.conta_debito}}</td>
      <td>{{=contabil.data_lancamento}}</td>
      <td>{{=contabil.valor}}</td>
    </tr> 
  {{pass}}    
  </tbody>
</table>

{{pass}}
